
main{
    width: 100%;
    background-color: moccasin;
}

.titreForm{
    display: flex;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

form{
    display: flex;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #314b4b;
    color: #fff;
}
footer>a{
    text-decoration: none;
    color:red ;

}